/* Основные настройки страницы */
div {
    display: block;
}
html{
    background-image: url(https://i.ibb.co/h7cQ3fS/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    margin: 0%;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

/* Меню */
#menu {
    display: flex;
    flex-direction: row;
    background: rgb(19,18,40);
    background: linear-gradient(90deg, rgba(19,18,40,1) 0%, rgba(3,3,87,1) 46%, rgba(2,45,55,1) 100%);
 }
#menu a{
    text-decoration: none;
}
#menu_logo{
    width: 5%;
    text-align: center;
    background: rgb(222,132,6);
    background: linear-gradient(90deg, rgba(222,132,6,1) 0%, rgba(253,29,29,1) 100%);
    }  
#menu_logo img{
    width:50%;
    padding-top: 10%;
    }
#menu_logo b{
}
.menu_item{
    width: 23.75%;
    text-align: center;
    
    color: white;
    }


/* Главный заголовок */
#sitetitle{
    text-align: center;
    color: rgb(15, 37, 104); 
    text-shadow:#723939 -5px -2px 6px;
}
#main_header {
        text-align: center;
}
#link_sender {
   
    text-align: center;
}

/* Блок результатов */
.done_block{
    display: inline-block;
    width: 49.8%;
    text-align: center;
    background-color: azure;
}
.logo{
    width: 6%;
}

/* Описание */
#descrip {
    text-align: center;
}


/* Кнопка анализа */
.analysbutton{
    
    width: 150px;
    height: 35px;
    text-decoration: none;
    color: #a675b3;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 20px auto;
    font: normal 17px arial;
}
.analysbutton:not(.active) {
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#3b2751, #271739);
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
  }
  
  .analysbutton:not(.active):hover,
  .analysbutton:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
  }
  .analysbutton:not(:hover) {
      transition: 0.6s;
  }

  /* Блок новостей */
#news_block{
    display: inline-block;
}  
.grid * {
    box-sizing: border-box;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding: 20px 0;
}
/* Кол-во блоков на разных экранах */
@media only screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
.grid-item {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    transition: box-shadow .3s;
    width: 95%;
    height: 95%;
    margin-left: 2.5%;  
}
.grid-item .image {
    height: 200px;
    overflow: hidden;
}
.grid-item .info {
    position: relative;
    height: calc(100% - 200px);
    padding: 16px 14px 80px 14px;
}
.grid-item:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.grid-item .image img  {
      transition: transform 280ms ease-in-out;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
.grid-item:hover .image img  {
    transform: scale(1.1);
}
.info h2 {
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    color: #337AB7;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}
.info-text p {
    font-size: 15px;
    line-height: 20px;
    font-family: Verdana, sans-serif; 
    margin-bottom: 10px;
}
.info-text p:last-child {
    margin-bottom: 0;
}
.grid-item .button-wrap {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 14px;
    left: 0;
    text-align: center;
}
/* Рейтинг */
.rating_team {
    font-size: x-large;
    font-weight: bold;
    text-shadow:
    1px 1px rgb(255, 255, 255),
    2px 2px #777;
    color: #333;
    transition: all 1s;
  }
  
.rating_team:hover {
    text-shadow:
    1px 1px white,
    2px 2px tomato;
    color: crimson;
  }
  