#link_sender {
    background-color: coral;
    text-align: center;
}

.done_block{
    display: inline-block;
    width: 25%;
    text-align: center;
    background-color: azure;
}

.logo{
    width: 6%;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    align-content: center;
}

/* Верхнее меню */
#menu{
    display: flex;
    flex-direction: row;
    background-color: azure;
}

.menu_item{
    text-align: center;
    display: block;
    width: 10%;
}

#menu a {
    text-decoration: none;
}
