{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>О нас</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Блок меню -->
    <div id="menu">
        <div id="menu_logo">
            <img src="https://1.downloader.disk.yandex.ru/preview/96733f936cc5c0b0f53dc5b709377adbb352d77069e4b5a6977dbe2e714e2076/inf/Ndem7qusIrQWIP9oHRpI118f17MEXhkfTdkAtqzfggZiwPgwD9nnadQYKqnNWVA8mJHn-aeTzkGXmFBHzH_nhQ%3D%3D?uid=199673883&filename=logo_rvp.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=199673883&tknv=v2&size=1349x657"
                alt="logo">
        </div>
        <a href="main" class="menu_item">
            <p><b>Главная</b> </p>
        </a>
        <a href="rating" class="menu_item">
            <p><b>Рейтинг</b></p>
        </a>
        <a href="analys" class="menu_item">
            <p><b>Анализ</b></p>
        </a>
        <a href="description" class="menu_item">
            <p><b>О нас</b></p>
        </a>
    </div>
    <!-- Описание -->
    <p id="descrip">
    <p align=center> <b>Сайт предназначен для ознакомительных целей.</b></p>
    <hr size="2" color="black">
    <p align=center> <b>Веб-приложение помогает предсказать исход матча основываясь на алгоритме,
            который анализиурет прошедшие матчи и статистику.</b></p>
    <hr size="2" color="black">
    <p align=center><b> Сайт разрабатывается для использования в практическом и лабораторном курсе дисциплин кафедры
            ИСП. Сайт предоставляет только самые необходимые функции для среднестатистического пользователя. </b> </p>
    <hr size="2" color="black">
    <P align=center><b>Cайт был спроектирован и разработан Диденко Данилом и Панченко Павлом. </b> </P>
    <hr size="2" color="black">
    <P align=center><b> </b></p>
    </p>
</body>



</html>